<li class="list-group-item">
    {{burger_name}}
        
        {{#if devoured}}
        {{else}}
        <button type= "button" class="eat-burger btn btn-primary btn-sm" data-id="{{this.id}}" data-neweaten="{{devoured}}">Eat Up!</button>
        {{/if}}
</li> 

{{!-- <li class="list-group-item">
	{{burger_name}}

	<button class="eat-burger" data-id="{{this.id}}" data-neweaten="{{devour}}">
		{{#if devour}}Devour!{{/if}}
	</button>
	
	

	<button class="eat-burger" data-id="{{this.id}}">EAT IT</button>
</li> --}}
